
@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: montserrat-black;
    src: url(../../fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face {
    font-family: rubik;
    src: url(../../fonts/Rubik/Rubik-Light.ttf);
}

// @font-face{
//     font-family: FONT-NAME;
//     src:url();
// }